.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**************************************Registration form**********************************/
form.Reg_form {
  display: flex;
  flex-direction: column;
  width: 68rem;
  margin-left: 21rem;
  margin-top: 11rem;
}
.title {
  display: flex;
  margin-left: 3.8rem; 
   font-size: 1.8rem;
}
.headline {
  display: flex;
  margin-left: 3.8rem; 
   font-size: 1.5rem;
}
.reg_name{
  display: flex;
  justify-content: space-evenly
}
.reg_pass{
  display: flex;
  justify-content: space-evenly
}
.Reg_inner_div {
  width: 41rem;
  line-height: 2.1rem;
}
.button-11{
  display: flex;
  justify-content: space-evenly
}
.userName {
  display: flex;
  justify-content: center;
}
button.button-1 {
  color: royalblue;
  font-size: 1.2rem;
}
button.button-2 {
  background-color: royalblue;
}




/*********************************************************ADMIN_LOGIN************************************************/
form.login_form {
  width: 40%;
}
.main_div_login {
  margin-top: 9rem;
  width: 100%;
  line-height: 2rem;
  display: flex;
  justify-content: center;
}
input {
  overflow: visible;
  height: 2.5rem;
  width: 32rem;
}

p.loginheadd {
  font-size: 1.8rem;
}
.ser_sign {
  font-size: 1.3rem;
}
.ser_contToFundoo {
  font-size: 18px;
}
.button_11{
  display:flex;
  justify-content: space-between 
}

button.btn.btn-outline-primary.sign_In_button {
  width: 8rem;
  height: 2.5rem;
  margin-top: 1.5rem;
}
.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: cornsilk;

}
/********************************DASHBOARD COMPONENT***********************************************************************/

.navbar {
  height: 4.5rem;
  box-shadow: 0 0 12px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.button.btn.button {
  box-shadow: 0 0 5px;
  height: 3rem;
  width: 10rem;

}
.Button_Adjust {
  width: 38rem;
  display: flex;
  justify-content: space-between;
}
.admin_ {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 6rem;
}
button.btn.button1 {
  width: 7rem;
  height: 2.5rem;
  margin-right: 18px;
  /* box-shadow: 0 0 5px; */
}
.service_check {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.card.basic_card {
  width: 14rem;
  height: 8rem;
}
.card.basic_card {
  width: 14rem;
  height: 8rem;
  font-size: 29px;
  display: flex;
  justify-content: flex-start;
  padding-left: 62px;
  box-shadow: 0 0 2px;
  background-color: C0C0C0;
  background-color: lightgrey;
}
.card-header.service_ {
  font-weight: 800;
  font-size: 23px;
}
.servive_cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  /* overflow: hidden; */
}
.card-header.service_ {
  font-weight: 800;
  font-size: 23px;
  display: flex;
  justify-content: center;
}
.card.border-info.mb-3 {
  width: 10rem;
  height: 6rem;
  line-height: 1rem;
}
.card-body.text-info {
  display: flex;
  justify-content: center;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.admin_Table_content {
  width: 80rem;
  margin-left: 14rem
}
td.button_display_payment {
  display: flex;
  justify-content: space-evenly;
}
tr.table_content_payment {
  text-align: center;
}
.btn-outline-success {
  color: #212529;
  background-color: transparent;
  background-image: none;
  border-color: #212529;
}

.btn-outline-danger {
  color: #212529;
  background-color: transparent;
  background-image: none;
  border-color: #212529;
}
/* .card.border-info.mb-3 {
  width: 10rem;
} */
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: snow;
}
.QnA_table {
  width: 60rem;
  padding-top: 8rem;
}
.table td, .table th {
  padding: 0.4rem;
  vertical-align: middle;
}
.table {
  width: 94.5%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
tr.admin_data {
  font-size: 14px;
}
.btn-outline-success {
  color: #212529;
  background-color: transparent;
  background-image: none;
  border-color: azure;
}
.btn-outline-danger {
  color: #212529;
  background-color: transparent;
  background-image: none;
  border-color: azure;
}
.card-header.service_ {
  font-weight: 400;
  font-size: 23px;
  display: flex;
  justify-content: center;
}
.empty_state{
  position: absolute;
  margin-top: 15vh;
  width: 100%;
  text-align: center;
}
.empty_state_pay{
  position: absolute;
  margin-top: 13vh;
  width: 100%;
  text-align: center;
  margin-top: 13vh;
  color: rgba(0,0,0,.5);
}
/* center.center_table {
  position: absolute;
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
} */
@media screen and (max-width: 600px) {
  form.login_form {
    width: 90%;
  }
}